body{
    font-family: 'Montserrat';
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {  
    font-family: 'Montserrat';
    font-weight: 900;
}

p{
    color: #8f8f8f;
}

/* Headings */

.big-heading{
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

.section-heading{
    font-size: 3rem;
    line-height: 1.5;
}

/* Containers */

.container-fluid{
    padding: 7% 12%;
}

/* Sections */

.color-section{
    background-color: #ff4c68;
    color: white;
}

.white-section{
    background-color: white;
}

/* Navigation bar */

.navbar{
    padding: 0 0 4.5rem;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat";
}

/* Buttons */

.download-button{
    margin: 5% 3% 5% 0;
}

/* Title Section */

#title .container-fluid{
    padding: 3% 12%;
    text-align: left;
}

/* Title Image */

.title-image{
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
    right: 23%;
}

/* Features Section */

#features{
    position: relative;
}

.feature-title{
    font-size: 1.5rem;
}

.feature-box{
    padding: 4.5%;
}

.icon{
    font-size: 4rem;
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover{
    color: #ff4c68;
}

/* Testimonial Section */

#testimonials{
    background-color: #ef8172;
}

.testimonial-text{
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-image{
    width: 12%;
    margin: 20px 20px 50px;
}

/* Pricing */



#pricing{
    padding: 100px;
}

.pricing-column{
    padding: 3% 2%;
}

.pricing-text{
    font-size: 3rem;
    line-height: 1.5;
}

@media (max-width: 1052px){

    #title{
        text-align: center;
    }

    .title-image{
        position: static;
        transform: rotate(0);
        width: 50%;
    }
}

.text-footer{
    padding-top: 2%;
}

.footer-icon{
    padding: 20px 10px;
}