body{
    font-family: "Montserrat";
}

#title{
    background-color: #ff4c68;
    color: white;
}

h1 {  
    font-family: "Montserrat";
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
    
}

h2{
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.5;
}


h3{
    font-size: 1.5rem;
    font-weight: bold;
}

.container-fluid{
    padding: 3% 15% 6%;
}

/* Navigation bar */

.navbar{
    padding: 0 0 4.5rem;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat";
}

.download-button{
    margin: 5% 3% 5% 0;
}

.title-image{
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
    right: 23%;
}

p{
    color: #8f8f8f;
}

/* Features Section */

#features{
    padding: 7% 12%;
    background-color: #fff;
    position: relative;
}

.feature-box{
    text-align: center;
    padding: 4.5%;
}

.icon{
    font-size: 4rem;
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover{
    color: #ff4c68;
}

/* Testimonial Section */

#testimonials{

    text-align: center;
    background-color: #ef8172;
    color: #fff;

}

.carousel-item{
    padding: 7% 15%;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-image{
    width: 12%;
    margin: 20px 20px 50px;
}

/* Pricing */

#pricing{
    padding: 100px;
    text-align: center;
}

.pricing-column{
    padding: 3% 2%;
}

@media (max-width: 1052px){

    #title{
        text-align: center;
    }

    .title-image{
        position: static;
        transform: rotate(0);
        width: 50%;
    }
}

#cta{
    background-color: #ff4c68;
    text-align: center;
    color: white;
    padding: 5% 12%;
}

.message{
    font-size: 3.5rem;
    line-height: 1.5;
    padding-bottom: 2%;
}

#footer{
    text-align: center;
    padding: 5% 12%;
}

.text-footer{
    padding-top: 2%;
}

.footer-icon{
    padding: 20px 10px;
}